@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-orange-100: #f5ece8;
  --color-orange-500: #e8521c;
  --color-yellow-500: #ff9409;
  --color-stone-500: #44403b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
}

body {
  font-family: var(--font-roboto);
  background-color: #f7f7f7;
  color: #44403b;
  overflow-y: scroll;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 32px;
  height: 100dvh;
}
.bg-layout {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 32px;
  /* height: 100dvh; */
}
.bg-image {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: 1010px;
  min-width: 600px;
  object-fit: contain;
  z-index: -1;
  pointer-events: none;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
/* .loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#e8521c 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
} */
.loader {
  width: 40px;
  height: 40px;
  color: theme(--color-stone-500);
  background:
    linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  animation: sh5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes sh5 {
  0% {
    background-position:
      0 0,
      100% 0,
      100% 100%,
      0 100%;
  }
  33% {
    background-position:
      0 0,
      100% 0,
      100% 100%,
      0 100%;
    width: 60px;
    height: 60px;
  }
  66% {
    background-position:
      100% 0,
      100% 100%,
      0 100%,
      0 0;
    width: 60px;
    height: 60px;
  }
  100% {
    background-position:
      100% 0,
      100% 100%,
      0 100%,
      0 0;
  }
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

.logo-img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.burger-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #effffa;
  /* transform: ${({ open }) => (open ? "translateX(0)" : "translateX(-100%)")}; */
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;

  @media (max-width: 576px) {
    width: 100%;
  }

  a {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #0d0c1d;
    text-decoration: none;
    transition: color 0.3s linear;

    @media (max-width: 576px) {
      font-size: 1.5rem;
      text-align: center;
    }

    &:hover {
      color: #343078;
    }
  }
}
